# Comments start with # and end with the end of the line!
:Arya Plugin Development
	arya@sgros.github.com
:Facebook
	Facebook
:Browsing
	Mozilla Firefox
	Google Chrome
:Unsorted
	.*
:windowTitlesToIgnore
	Library

